@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
  --metal-blue: #00A3FF;
  --metal-yellow: #FFB800;
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-metal-blue/30;
  }
}